In [1]:
#importing numpy and pandas

import numpy as np
import pandas as pd

## Exercise 1

 Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix.

In [2]:
arr = np.arange(1, 11)

reshaped_arr = arr.reshape(2, 5)

print('\nOriginal Array',arr)
print('\n Reshaped Array')
print(reshaped_arr)

Original Array [ 1  2  3  4  5  6  7  8  9 10]

 Reshaped Array
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

## Exercise 2

Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index.

In [3]:
arr = np.arange(1, 21)
extracted_elements = arr[5:16] 

print("Original Array:", arr)
print("Extracted Elements (5th to 15th index):", extracted_elements)

Original Array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Extracted Elements (5th to 15th index): [ 6  7  8  9 10 11 12 13 14 15 16]

## Exercise 3

Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}. Then, add a new item to the series with the key 'pears' and the value 4.

In [4]:


data = {'apples': 3, 'bananas': 2, 'oranges': 1}
series = pd.Series(data)

print("Original Series:")
print(series)

series['pears'] = 4

print("\nUpdated Series:")
print(series)

Original Series:
apples     3
bananas    2
oranges    1
dtype: int64

Updated Series:
apples     3
bananas    2
oranges    1
pears      4
dtype: int64

## Exercise 4

Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data.

In [7]:
data = {
    'NAME': ['Alice', 'Bob', 'Charlie', 'David', 'Lilly', 'Jill', 'Grace', 'Mary', 'Tom', 'Jerry' ],
    'AGE': [25, 30, 35, 40, 28, 33, 29, 26, 22, 31],
    'GENDER': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male'] }

df = pd.DataFrame(data)

print(df)

      NAME  AGE  GENDER
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male
3    David   40    Male
4    Lilly   28  Female
5     Jill   33    Male
6    Grace   29  Female
7     Mary   26  Female
8      Tom   22    Male
9    Jerry   31    Male

## Exercise 5

Add a new column to the data frame created in Exercise 4, called occupation. The values for this column should be Programmer, Manager, and Analyst, corresponding to the rows in the dataframe.

In [8]:

df['OCCUPATION'] = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 'Analyst', 
                     'Programmer', 'Manager', 'Analyst', 'Programmer']
print (df)

      NAME  AGE  GENDER  OCCUPATION
0    Alice   25  Female  Programmer
1      Bob   30    Male     Manager
2  Charlie   35    Male     Analyst
3    David   40    Male  Programmer
4    Lilly   28  Female     Manager
5     Jill   33    Male     Analyst
6    Grace   29  Female  Programmer
7     Mary   26  Female     Manager
8      Tom   22    Male     Analyst
9    Jerry   31    Male  Programmer

## Exercise 6

Select the rows of the dataframe where the age is greater than or equal to 30

In [10]:
filtered_df = df[df['AGE'] >= 30]
print(filtered_df)

      NAME  AGE GENDER  OCCUPATION
1      Bob   30   Male     Manager
2  Charlie   35   Male     Analyst
3    David   40   Male  Programmer
5     Jill   33   Male     Analyst
9    Jerry   31   Male  Programmer

## Exercise 7

Convert this dataframe to a csv file and read that csv file, finally display the contents.

In [11]:
csv_filename = 'dataframe.csv'
df.to_csv(csv_filename, index=False)

df_from_csv = pd.read_csv(csv_filename)

print(df_from_csv)

      NAME  AGE  GENDER  OCCUPATION
0    Alice   25  Female  Programmer
1      Bob   30    Male     Manager
2  Charlie   35    Male     Analyst
3    David   40    Male  Programmer
4    Lilly   28  Female     Manager
5     Jill   33    Male     Analyst
6    Grace   29  Female  Programmer
7     Mary   26  Female     Manager
8      Tom   22    Male     Analyst
9    Jerry   31    Male  Programmer