## Exercise 1

 Write Python code that prints your name, student number and email address.

In [4]:
a = 'Amrutha'
b = 3
c = 'amruthakeralasseri@gmail.com

In [3]:
print('Name : ',a)
print('Student Number :',b)
print('Email address :',c)

Name :  Amrutha
Student Number : 3
Email address : amruthakeralasseri@gmail.com

## Exercise 2

Write Python code that prints your name, student number and email address using escape sequences.

In [5]:
a = 'Amrutha'
b = 3
c = 'amruthakeralasseri@gmail.com'

In [15]:
print(f'Name :{a}\nStudent Number :{b}\nEmail address :{c}')

Name :Amrutha
Student Number :3
Email address :amruthakeralasseri@gmail.com

## Exercise 3

Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.

In [16]:
x = 14
y = 7

In [27]:
adition = x+y
print(f'Adition : {x} + {y} = {adition}')

Adition : 14 + 7= 21

In [29]:
subtraction = x-y
print(f'subtraction : {x} - {y} = {subtraction}')

subtraction : 14 - 7 = 7

In [30]:
multiplication = x*y
print(f'Multiplication : {x} * {y} = {multiplication}')

Multiplication : 14 * 7 = 98

In [31]:
division = x/y
print(f'Division : {x} / {y}= {division}')

Division : 14 / 7= 2.0

## Exercise 4

Write Python code that displays the numbers from 1 to 5 as steps.

In [34]:
for i in range(1,6):
    print(f'{i}')

1
2
3
4
5

## Exercise 5

Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:

An example runs of the program: "SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [35]:
print('"SDK" stands for "Software Development Kit",whereas "IDE" stands for "Integrated Development Environment" ')

"SDK" stands for "Software Development Kit",whereas "IDE" stands for "Integrated Development Environment"

In [36]:
print("\"SDK\" stands for \"Software Development Kit\", whereas \"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

## Exercise 6

Practice and check the output print("python is an \"awesome\" language.") print("python\n\t2023") print('I\'m from Entri.\b') print("\65") print("\x65") print("Entri", "2023", sep="\n") print("Entri", "2023", sep="\b") print("Entri", "2023", sep="*", end="\b\b\b\b")

In [37]:
print("python is an \"awesome\" language.")

python is an "awesome" language.

In [38]:
print("python\n\t2023")

python
	2023

In [39]:
print('I\'m from Entri.\b')

I'm from Entri

In [40]:
 print("\65")

5

In [41]:
print("\x65")

e

In [42]:
print("Entri", "2023", sep="\n")

Entri
2023

In [43]:
print("Entri", "2023", sep="\b")

Entr2023

In [44]:
print("Entri", "2023", sep="*", end="\b\b\b\b")

Entri*20

 ## Exercise 7

Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum? num=23 textnum="57" decimal=98.3

In [45]:
num = 23
textnum = "57"
decimal = 98.3

In [57]:
print('Type of num :',type(num))

Type of num : <class 'int'>

In [58]:
print('Type of textnum :',type(textnum))

Type of textnum : <class 'str'>

In [59]:
print('Type of decimal :',type(decimal))

Type of decimal : <class 'float'>

In [60]:
sum =(num) + int(textnum) +(decimal)
print(f'sum = {num} + {textnum} + {decimal} = {sum}')

sum = 23 + 57 + 98.3 = 178.3

In [62]:
print('Type of sum :',type(sum))

Type of sum : <class 'float'>

## Exercise 8

Calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values (hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [1]:
days_in_year = 365          
hours_in_day = 24           
minutes_in_hour = 60        
total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour
print(f"The total number of minutes in a year is: {total_minutes_in_year} minutes.")

The total number of minutes in a year is: 525600 minutes.

## Exercise 9

Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.

In [1]:
user_name = input('Please Enter Your Name')
print('Hi', user_name, 'welcome to Python programming')

Please Enter Your Name Amrutha k

Hi Amrutha k welcome to Python programming

## Exercise 10

Name your file: PoundsToDollars.py Write a program that asks the user to enter an amount in pounds (Â£) and the program calculates and converts an amount in dollar ($)

In [4]:
pounds_to_dollar_rate = 1.23
pounds = float(input('Please Enter Amount in Pounds :'))
dollar = pounds_to_dollar_rate * pounds
print(f'{pounds} pounds is equal to {dollar} $')

Please Enter Amount in Pounds : 50

50.0 pounds is equal to 61.5 $