## LIST

### Exercise

 Q1. Create a list of 5 random numbers and print the list.

In [13]:
numbers = [5,63,101,87,520]
print('original list :',numbers)

original list : [5, 63, 101, 87, 520]

In [3]:
type(numbers)

list

Q2. Insert 3 new values to the list and print the updated list.

In [25]:
numbers.append(9)

In [26]:
numbers[6:6]=[11,22]

In [27]:
print('updated list list :',numbers)

updated list list : [5, 63, 101, 87, 520, 9, 11, 22]

 Q3. Try to use a for loop to print each element in the list.

In [29]:
print('elements in the list :')
for i in numbers:
    print(i)

elements in the list :
5
63
101
87
520
9
11
22

##  DICTIONARY

### Exercise

Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [32]:
student = {'Name' :'John',
           'Age' : '25',
           'Address': 'New York'}
print('Student Dictionary :', student)

Student Dictionary : {'Name': 'John', 'Age': '25', 'Address': 'New York'}

 Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [33]:
student['Phone']='1234567890'

In [34]:
print('Updated Student Dictionary :', student)

Updated Student Dictionary : {'Name': 'John', 'Age': '25', 'Address': 'New York', 'Phone': '1234567890'}

## SETS

### Exercise

 Q1.Create a set with values 1, 2, 3, 4, and 5.

In [36]:
random_numbers = {1,2,3,4,5}
print('Random number set :',random_numbers)

Random number set : {1, 2, 3, 4, 5}

Q2. Add the value 6 to the set created in Q1.

In [38]:
random_numbers.add(6)
print('Updated random number set :',random_numbers)

Updated random number set : {1, 2, 3, 4, 5, 6}

Q3. Remove the value 3 from the set created in Q1.

In [39]:
random_numbers.remove(3)
print('Random number set :',random_numbers)

Random number set : {1, 2, 4, 5, 6}

## TUPLE

### Exercise

 Q1. Create a tuple with values 1, 2, 3, and 4

In [41]:
T1 = (1,2,3,4)
print('Tuple T1 :',T1)

Tuple T1 : (1, 2, 3, 4)

Q2. Print the length of the tuple created in Q1.

In [43]:
print('Length of tuple T1 :',len(T1))

Length of tuple T1 : 4